<%- include("templates/header") %>

 <div class="main">
  <% if (name !== 'guest') { %>
    <h1>Welcome back, <%= name %>!</h1>
  <% } else { %>
    <h1>Hello, <%= name %>! Please log in.</h1>
  <% } %>
  <%- include('post') %>

  <%- include('posts') %>
 </div>





<%- include('templates/footer') %>